<div class="main w-full flex justify-center items-center pt-[100px]">
    <div class="form w-[400px]  flex flex-col items-center gap-3">
        <img src="/assets/user (1).png" alt="" class="w-[100px] bg-[#d9d9d9] p-4 rounded-full"> 
        <div class="w-full flex flex-col gap-1">
            <label for="">Username</label>
            <input type="text" name="" id="" class="border rounded-lg p-2 bg-transparent text-[#b46767]" value="sudais anu">
        </div>
        <div class="w-full flex flex-col gap-1">
            <label for="">Email</label>
            <input type="text" name="" id="" class="border rounded-lg p-2 bg-transparent text-[#b46767]" value="sudaisanuneelambra21@gmail.com">
        </div>
        <app-button [className]="className" (click)="goToHome()">Logout</app-button>
    </div>
</div>