<nav class="main w-full h-[80px] items-center px-5 bg-[#152d35]">
    <div class="">
        <h1 class=" head text-[white] font-bold text-[23px]">TECK VEGAS</h1>
    </div>
    <div class=" flex  items-center bg-[white] px-3 rounded-sm">
        <input type="text" name="" id="" placeholder="search" class="w-[400px] py-2 pl-2 border-0 outline-none">
        <i class="fa-solid fa-magnifying-glass text-[20px] "></i>
    </div>
    <div class=" logos flex  text-[white] justify-center gap-10 text-[18px] pl-3">
        <h1 class="home">Home</h1>
        <h1><i class="text-[20px] like"  [ngClass]=" likeBoolean ? 'fa-solid fa-heart text-[red] ': 'fa-regular fa-heart'" (click)="like()"></i></h1>
        <h1 class="relative"><mat-icon class="custom-icon">shopping_cart</mat-icon> <div class="absolute w-5 h-5 rounded-full bg-red-600 -top-3 -right-3 flex justify-center items-center text-[12px]">{{count}}</div></h1>
        <h1><i class="fa-solid fa-user text-[20px] profile"></i></h1>
        <h1><i class="fa-solid fa-right-from-bracket text-[20px] logout"></i></h1>
    </div>
</nav>