<div class="main w-[80%] h-[600px] shadow-xl rounded-md overflow-hidden  flex mt-14">
    <div class="one w-[50%] h-full  flex justify-center items-center">
        <img [src]="product?.image" alt="" class="w-[90%] h-[80%]">
    </div>
    <div class="two w-[50%] h-full  flex flex-col justify-center items-start p-5 bg-[#10222a] gap-4">
        <h1 class="font-bold text-[white]">{{product?.title}}</h1>
        <h1 class="font-[400] text-[red]">Category : {{product?.category}}</h1>
        <p class="text-[13px] text-[#cfcbcb]">{{product?.description}}</p>
        <h1 class="text-[18px] font-bold text-white">$ {{product?.price}}</h1>
        <p class="text-[#0aff0a]">Rating: {{ product?.rating?.rate }} <span class="">({{ product?.rating?.count }} reviews)</span></p>
        <app-button [className]="className" *ngIf="checkCart(product); else nocart"  (click)="addToCart(product?.id,product?.category)">Add To Cart <i class="fa-solid fa-plus pl-2" ></i></app-button>
        <ng-template #nocart>
            <div class=" w-[150px] h-[40px] flex justify-between items-center bg-[#152D35] text-[white] px-5 py-1"><i class="fa-solid fa-minus" (click)="decrease(product?.id, product?.category)"></i><h1 class="bg-[gray] px-3 h-full flex items-center font-bold">{{count}}</h1><i class="fa-solid fa-plus" (click)="increase(product?.id, product?.category)"></i></div>
        </ng-template>
    </div>
</div>