.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
@media(max-width:1000px){
    .main{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:610px){
    .main{
        grid-template-columns: 1fr;
    }
    .input-div{
        width: 280px;
    }
}


